{% extends 'home.html' %}
{% block content %}
<head>
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/css/agreg.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
   
</head><br><br>
<body class="form-v10" style="background-image:url('static/images/bg3.jpg');background-repeat: no-repeat;background-size: cover;">
	<div class="page-content">
		<div class="form-v10-content2">
			<center><h2 style="color:rgb(17, 92, 158);">User Registration</h2></center>
			<form class="form-detail" action="#" method="post" enctype="multipart/form-data" id="myform">
				{% csrf_token %}
				<div class="form-right">
					<h2>General Information</h2>
					<div class="form-row">
						<input type="text" name="name" id="first_name" class="input-text" placeholder="Name" required>
					</div>
					<div class="form-row form-row-2">
                        <textarea name="addr" id="last_name" class="md-textarea form-control" rows="3" placeholder="Address" required></textarea>
                    </div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="tel" name="phn" id="last_name" class="input-text" placeholder="Phone Number" required pattern="[0-9]{10}">
						</div>
						<div class="form-row form-row-2">
							<input type="file" name="photo" id="last_name" placeholder="Photo" required>
						</div>
					</div>
                    
                    <div class="form-group">
                                    <div class="form-row form-row-1">
                                        <input type="email" name="email" id="first_name" class="input-text" placeholder="Email" required>
                                    </div>
                                    <div class="form-row form-row-1">
                                        <input type="password" name="pasw" id="last_name" class="input-text" placeholder="Password" required>
                                    </div>
                        
                                </div>
								<div class="form-row form-row-1">
									<input type="text" name="usercode" id="last_name" class="input-text" placeholder="UserCode" required>
								</div>
					<!-- <div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div> -->
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Register" onclick="msg()">

						<!-- <button><input type="submit" name="register" class="register" value="Register Badge"></button> -->
					</div>	
				</div> 
			</form>
			<strong class="mx-2" style="color:red">{{msg}}</strong> 
		</div>
	</div>

		
		
</body>
<script>
	function msg()
	{
		alert('successfully Registred')
	}
</script>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}