
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Migrant Labour Supply</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/images/favicon.png" rel="icon">
  <link href="static/image/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.1.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="background-image:url('static/images/bg3.jpg');background-repeat: no-repeat;background-size: cover;" >

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center" style="background-color:rgb(8, 8, 107)">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="home" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static\images\logo_3.png" alt="LabourLogo" width="500" height="600">
        <!-- <h1>UpConstruction<span>.</span></h1> -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="AdminHome" class="active">Home</a></li>
          
          <li class="dropdown"><a href="#"><span>Manage Agency</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="AgencyReg">Manage Agency</a></li>
              <li><a href="Agencydetails">Agency Details</a></li>
              
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Labour</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="SearchLabour">Search labour</a></li>
              <li><a href="AdTrackLabour">Track Labour Work History</a></li>
              <li><a href="LabPaymentHis">View Labour payment History</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown"><a href="#"><span>Agency</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">View client payment details</a></li>
              <li><a href="AdManageComp">Manage Complaint</a></li>
            </ul>
          </li> -->
          <li class="dropdown"><a href="#"><span>User</span> <i class="bi bi-chevron-down dropdown-indicator dropleft"></i></a>
            <ul><li><a href="AdClientPayment">View client payment details</a></li>
              <li><a href="AdManageComp">Manage Complaint</a></li>
              <li><a href="UserRequest">View User Request</a></li>
              <li><a href="AdViewReview">View User Reviews</a></li> 
            </ul>
          </li>
          
          
          <li><a href="logout">Logout</a></li>

         
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>Migrant Labour Supply</span></h2>
            <p data-aos="fade-up"><a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/images/carousel/banner3_1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/images/carousel/banner3_2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/images/carousel/banner3_3.webp)"></div>
     
      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->
{% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Migrant Labourer Supply</h3>
              <p>
                Labour Commissionerate<br>
                Thozhil Bhavan (Labour Complex)<br>
                Thiruvananthapuram, Kerala<br>
               
                <strong>Tel:</strong> 0471 278 3900<br>
                
                <strong> Citizen’s Call Center : 155300 | ccc.kerala.gov.in<br>
                Labour Call Center : 1800 42555 214</strong>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://twitter.com/" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">Construction Site</a></li>
              <li><a href="#">For Hotel</a></li>
              <li><a href="#">Cleaning</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Shopping</a></li>
            </ul>
          </div><!-- End footer links column-->

           <div class="col-lg-2 col-md-3 footer-links">
            <h4>Agencies</h4>
            <ul>
              <li><a href="#">ABC Agency</a></li>
              <li><a href="#">FIDA Agency</a></li>
              <li><a href="#">HYRICH Agency</a></li>
              <li><a href="#">SUN Agency</a></li>
              <li><a href="#">Nirma Agency</a></li>
            </ul> 
          </div><!-- End footer links column -->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Labourers</h4>
            <ul>
              <li><a href="#">Bengal</a></li>
              <li><a href="#">Panjab</a></li>
              <li><a href="#">Gujarat</a></li>
              <li><a href="#">Tamilnadu</a></li>
              <li><a href="#">Hariyana</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Migrant Labour Supply</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>