{% extends 'Agency/AgencyHome.html' %}
{% block content %}
<head>
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/css/attend/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
   
</head>

<br><br>
<body style="background-image:url('static/images/bg3.jpg');background-repeat: no-repeat;background-size: cover;">
	<div class="center-container">
		<div class="main">
			<h1 class="w3layouts_head">Attendence Form</h1>
				<div class="w3layouts_main_grid">
					<form action="#" method="post" class="w3_form_post">
						{% csrf_token %}	
						
						<div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Date / Time </label>
								<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="datepicker" name="dat"  value="{{lab.1}}" type="date" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
								<div class="agileits_w3layouts_main_gridr">
									<input type="time" name="Time" placeholder=" " required="">
								</div>
									<div class="clear"> </div>
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Labourer</label>
								<input type="text" value="{{lab.3}}" name="labr" placeholder="Your Email" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Work</label>
								<input type="text" value="{{lab.2}}" name="work" placeholder="Your Email" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Salary </label>
								<input type="text"  value="700" name="sal"  required="">
								</span>
						</div>
						
						
						
					<!-- <div class="content-w3ls"> -->
						<!-- <div class="form-w3ls">
							<div class="content-wthree2">
								<div class="grid-w3layouts1">
									<div class="w3-agile1">
										<label>Please choose your favourite food</label>
										<ul>
											<li>
												<input type="radio" id="a-option" name="selector1">
												<label for="a-option">Veg </label>
												<div class="check"></div>
											</li>
											<li>
												<input type="radio" id="b-option" name="selector1">
												<label for="b-option">Non-veg</label>
												<div class="check"><div class="inside"></div></div>
											</li>
										</ul>
									</div>	
								</div>
								<div class="clear"></div>
							</div>
						</div> -->
						
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="css/jquery-ui.css" />
				<script src="js/jquery-ui.js"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
			<!-- <div class="w3layouts_copy_right">
				<div class="container">
					<p>© 2017 Event Registration Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
				</div>
			</div> -->
		</div>
	</div>
</body>
<br><br><br>

{% endblock %}